{% extends "base.html" %}
{% load hc_extras %}

{% block content %}
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="hc-dialog">
            <h1>Department Form</h1>
            <div class="dialog-body">
                <p>
                    Please select a department for User : {{ user_details.username }}
                </p>
            </div>

            <form method="post">
                {% csrf_token %}
                        <input
                        name="id"
                        class="form-control id"
                        id="id"
                        value="{{ user_details.id }}"
                        />
                        <hr>
                        <input
                        name="username"
                        class="form-control username"
                        id="username"
                        value="{{ user_details.username }}"
                        />
                        <hr>
                        <input
                        name="email"
                        class="form-control email"
                        id="email"
                        value="{{ user_details.email }}"
                        />
                        <hr>
                <input
                        name="first_name"
                        class="form-control first_name"
                        id="first_name"
                        value="{{ user_details.first_name }}"
                        />
                        <hr>
            <input
                        name="last_name"
                        class="form-control last_name"
                        id="last_name"
                        value="{{ user_details.email }}"
                        />
                        <hr>
                <div class="form-group">
                    <div class="input-group input-group-lg">
                        <select
                        name="department_id"
                        id="department_id"
                        class="form-control department_id input-sm"
                        >
                            <option value="">Please select : </option>
                            {% for department in departments %}
                           <option
                                   value="{{ department.id }}"
                           >
                               {{ department.name }}
                           </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="clearfix">
                    <button type="submit" class="btn btn-lg btn-primary pull-right">
                        Assign
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
