{% extends "base.html" %}
{% load compress static hc_extras %}

{% block title %}Departments - {% site_name %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h1 class="settings-title">Settings</h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-3">
        <ul class="nav nav-pills nav-stacked">
            <li><a href="{% url 'hc-profile' %}">Account</a></li>
            <li><a href="{% url 'hc-team-members' %}">Team Members</a></li>
            <li class="active"><a href="{% url 'hc-billing' %}">Billing</a></li>
            <li><a href="{% url 'hc-notifications' %}">Email Reports</a></li>
            <li><a href="{% url 'hc-badges' %}">Badges</a></li>
              <li><a href="{% url 'hc-departments' %}">Departments</a></li>

        </ul>
    </div>




       <div class="col-sm-9">


        <div class="row">
            <div class="col-sm-6">
                <div class="panel ">
                    <div class="panel-body settings-block">
                        <h2>Members List</h2>




                        <table
                        class="table table-striped table-bordered table-responsive" >
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>User Name</th>
                                <th>E-mail</th>
                                <th>Date Joined</th>
                                <th>Is Active</th>
                                <th>Is Staff</th>
                                <th>Department</th>
                                <th>Assign </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for member in members_list %}
                            <tr>
                                <td>{{ member.id }}</td>
                                <td>{{ member.user.first_name }}</td>
                                <td>{{ member.user.last_name }}</td>
                                <td>{{ member.user.username }}</td>
                                <td>{{ member.user.email }}</td>
                                <td>{{ member.user.date_joined }}</td>
                                <td>{{ member.user.is_active }}</td>
                                <td>{{ member.user.is_staff }}</td>
                                <td>{{ member.department.name }}</td>
                                <td><a href="{% url "hc-assign-team" member.id %}" class="btn btn-primary">Edit</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        </table>


                    {% if profile.can_invite %}
                    <a
                        href="#"
                        class="btn btn-primary pull-right"
                        data-toggle="modal"
                        data-target="#invite-team-member-modal">Invite a Team Member</a>
                    {% endif %}



                    </div>

                </div>


            </div>

        </div>


    </div>


</div>

<div id="invite-team-member-modal" class="modal">
    <div class="modal-dialog">
        <form method="post" class="form-horizontal">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="remove-check-title">Invite a Team Member</h4>
                </div>
                <div class="modal-body">
                    <ul>
                        <li>Team Members can create and manage Checks and Integrations</li>
                        <li>Only the team owner (you) can view and edit billing settings</li>
                    </ul>
                    <div class="form-group">
                        <label for="itm-email" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-9">
                            <input
                                type="email"
                                class="form-control"
                                id="itm-email"
                                name="email"
                                placeholder="friend@example.org"
                                required=""
                            >
                        </div>
                    <hr>

                        <label for="itm-email" class="col-sm-2 control-label">Department</label>
                        <div class="col-sm-9">
                             <select
                        name="department_id"
                        id="department_id"
                        class="form-control department_id input-sm"
                        >
                            <option value="">Please select : </option>
                            {% for department in departments %}
                           <option
                                   value="{{ department.id }}"
                           >
                               {{ department.name }}
                           </option>
                            {% endfor %}
                        </select>
                        </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button
                        type="submit"
                        name="invite_team_member"
                        class="btn btn-primary">Send Invite</button>
                </div>
            </div>
        </form>
    </div>
</div>


{% endblock %}

{% block scripts %}
<script src="https://js.braintreegateway.com/web/dropin/1.8.0/js/dropin.min.js"></script>
{% compress js %}
<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/billing.js' %}"></script>
{% endcompress %}
{% endblock %}

