{% extends "base.html" %}
{% load compress static hc_extras %}

{% block title %}Departments - {% site_name %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h1 class="settings-title">Settings</h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-3">
        <ul class="nav nav-pills nav-stacked">
            <li><a href="{% url 'hc-profile' %}">Account</a></li>
            <li><a href="{% url 'hc-team-members' %}">Team Members</a></li>
            <li><a href="{% url 'hc-billing' %}">Billing</a></li>
            <li><a href="{% url 'hc-notifications' %}">Email Reports</a></li>
            <li><a href="{% url 'hc-badges' %}">Badges</a></li>
            <li><a href="{% url 'hc-departments' %}" class="active">Departments</a></li>
              <li><a href="{% url 'hc-team-members' %}">Team Members</a></li>


        </ul>
    </div>




       <div class="col-sm-9">


        <div class="row">
            <div class="col-sm-6">
                <div class="panel ">
                    <div class="panel-body settings-block">
                        <h2>Departments</h2>




                        <table
                        class="table">
                        <thead>
                            <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for department in department_list %}
                            <tr>
                            <td>{{ department.id }}</td>
                            <td>{{ department.name }}</td>
                            <td>{{ department.description }}</td>
                            <td><a class="btn btn-default " href="{% url "department_edit" department.id %}">edit</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        </table>

                        <a href="{% url "hc-department-new" %}" class="btn btn-default">New Department</a>



                    </div>

                </div>


            </div>

        </div>


    </div>


</div>



{% endblock %}

{% block scripts %}
<script src="https://js.braintreegateway.com/web/dropin/1.8.0/js/dropin.min.js"></script>
{% compress js %}
<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/billing.js' %}"></script>
{% endcompress %}
{% endblock %}

