{% extends "base.html" %}
{% load hc_extras %}

{% block content %}
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="hc-dialog">
            <h1>Department Form</h1>
            <div class="dialog-body">
                <p>
                    Please fill in the  form to add a department
                </p>
            </div>

            <form method="post">
                {% csrf_token %}

                <div class="form-group">
                    <div class="input-group input-group-lg">

                        <input
                            type="text"
                            class="form-control"
                            name="name"
                            required=""
                            value="{{ form.department_details.name }}"
                            placeholder="Please enter Department Name">
                        <textarea
                                class="form-control"
                                name="description"
                                placeholder="Give department descripiton"
                        >
                            {{ form.department_details.description }}
                        </textarea>
                    </div>
                </div>

                <div class="clearfix">
                    <button type="submit" class="btn btn-lg btn-primary pull-right">
                        Add Department
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
